#!/bin/zsh

# utils
alias tree="exa -T"
alias find="fd"
alias dump="hexyl"
alias reload="exec $SHELL -l"
alias c="code"
alias lh="localhost"
alias rtmp="rm -rf $HOME/tmp && mkdir $HOME/tmp"

# docker
alias d="docker"
alias drt="docker run --rm -it"
alias dc="docker-compose"

# cargo-compete
alias cac="cargo compete"
alias ccs="cargo compete submit"
alias ccn="cargo compete new"
alias cct="cargo compete test"
alias cco="cargo compete open"

# Poetry
alias poer="poetry run"
alias poep="poetry run python"
alias poes="poetry shell"
alias poej="poetry run jupyter lab"

# git
alias g="git"
alias ga="git add"
alias gc="git commit"
alias gp="git push"
alias gs="git status"
alias gd="git diff"
alias gl="git log"
alias gce="git checkout"
alias glo="git log --oneline"
alias gaa="git add -A"
alias gcm="git commit -m"
alias gca="git commit --amend"
alias grhh="git reset --hard HEAD"
alias gpuom="git push -u origin master"
alias hc="hub create"
alias hb="hub browse"
alias grall="git add -A && git reset --hard HEAD"

# lab jupyter lab
# Usage: sjlab fvcrc-1
# Detach: Ctrl-j -> d
# Attach: screen -r lab
# Finish: Ctrl-d
alias -g labjupyter="ssh -L 9999:localhost:9999 lab -t ssh -L 9999:localhost:9999"
alias sjlab="screen -S lab labjupyter"

# ls
type exa > /dev/null 2>&1 && alias ls="exa"
alias ll="ls -lh"
alias la="ls -a"
alias lla="ls -lah"

# cd
alias cdm="$HOME/ghq/github.com/moisutsu"
alias cdp="$HOME/ghq/github.com/moisutsu-playground"
alias cdd="$HOME/dotfiles"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# top
type htop > /dev/null 2>&1 && alias top="htop"
