#!/bin/zsh

# クリップボードの文字列をDeepLで翻訳
function deepl () {
  local clip=`pbpaste | tr '\n' ' '`
  local convert=`ruby -e "puts \"$clip\".gsub(\"\\- \", \"\").gsub(\"al\.\", \"al\").gsub(\"\.\", \"\.\\n\\n\")"`
  local encoded=`ruby -e "puts URI.escape(\""$convert"\")"`
  open "https://www.deepl.com/translator#en/ja/${encoded}"
}

# playgroundでリポジトリを作成
function hcp () {
  local CURRENT_DIR=`basename $(pwd)`
  hub create moisutsu-playground/$CURRENT_DIR
}

function localhost () {
  open http://localhost:$1
}

# make playground repository
function mkpr () {
  if [ $# -eq 1 ]; then
    cdp
    mkdcd $1
    git init
    hcp
  fi
}

# ghq + peco でgitリポジトリをインクリメントサーチ
function peco-src () {
  local selected_dir=$(ghq list -p | peco --query "$LBUFFER")
  if [ -n "$selected_dir" ]; then
    BUFFER="cd ${selected_dir}"
    zle accept-line
  fi
  zle clear-screen
}
zle -N peco-src
bindkey '^]' peco-src

# Downloadsディレクトリの最新のファイルをカレントディレクトリに移動
function mvdl () {
  local file=`\ls -t $HOME/Downloads | head -1`
  if [ $# -eq 1 ]; then
    mv $HOME/Downloads/$file `pwd`/$1
  else
    mv $HOME/Downloads/$file `pwd`
  fi
}

# 指定したファイルの絶対パスを取得
function path () {
  echo "$(cd $(dirname "$1");pwd)/$(basename "$1")"
}
