[user]
	name = moisutsu
	email = moisutsu@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	ignorecase = false
	quotepath = false
	autocrlf = false
[merge]
	tool = vim \"$MERGED\"
[ghq]
	root = ~/ghq
[commit]
	template = ~/.commit_template
[credential]
	helper = cache
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[fetch]
	prune = true
[pull]
	rebase = false
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[status]
	showUntrackedFiles = all
