[user]
	name = moisutsu
	email = moisutsu@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	ignorecase = false
	quotepath = false
	autocrlf = false
{{- if eq .chezmoi.os "darwin" }}
	editor = code --wait
{{- else }}
	editor = vim
{{- end }}
[merge]
	tool = vimdiff
[ghq]
	root = ~/ghq
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[fetch]
	prune = true
[pull]
	rebase = false
	ff = only
[rebase]
	autosquash = true
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[rerere]
	enabled = true
[status]
	showUntrackedFiles = all
[push]
	default = current
	autoSetupRemote = true
[credential]
{{- if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{- else if eq .chezmoi.os "linux" }}
	helper = cache --timeout=604800
{{- end }}
